<!DOCTYPE html>
<html>

 <head>

  <meta charset="UTF-8">

  <title>Basketball Team Signup</title>


 </head>

 <body>
    <form action= '/team' method= 'post'>
    <h1>Create a Basketball Team!</h1>
    <p>Team Name:<input text= "team_name" name= 'name'> </p>
    <p>Coach:<input text= "Coach" name= 'coach'> </p>
    <p>Point Guard:<input text= "point_guard" name= 'pg'> </p>
    <p>Shooting Guard:<input text= "shooting_guard" name= 'sg'> </p>
    <p>Power Foward:<input text= "power_foward" name= 'pf'> </p>
    <p>Small Foward:<input text= "small_foward" name= 'sf'> </p>
    <p>Center:<input text= "center" name= 'c'> </p>

    <input type= 'submit' id= 'Submit' name='submit'>
    </form>

 </body>

</html>



